@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-default: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;

  --color-default-bg: var(--color-neutral-900);
  --color-default-primary: #ec3750;
  --color-default-primary-darker: #d32f45;
  --color-default-questions: var(--color-neutral-100);
  --color-default-answers: var(--color-neutral-200);
}

body {
  @apply font-default bg-default-bg text-default-questions flex flex-col min-h-screen text-center;
}

.button_to {
  @apply inline m-0 p-0;
}
